<div [class]="[menu, 'menu']">
    <div class="box">
        <h1>{{currentPage}}</h1>
        <button (click)="toggleMenu()">
            <i class="bi bi-list"></i>
        </button>
    </div>
    <div class="list-pages">
        @for (page of pages; track $index) {
        <div class="link-page">
            <a [routerLink]="page.link" (click)="selectPage(page.name)">
                <p>{{page.name}}</p>
                <div class="box-icon">
                    <i [class]="page.icon"></i>
                </div>
            </a>
        </div>
        }
    </div>
</div>
<div [class]="[page, 'page']">
    <router-outlet></router-outlet>
</div>